.hero {
    color: $white;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & .hero__business-card {
      margin-bottom: 8px;
      width: 349px;
    }
    & .hero__title {
      font-size: 50px;
      white-space:pre-wrap;
      margin-top:5px;
      margin-bottom: 5px;
    }
    & .tags {
      display: flex;
      flex-wrap: wrap;
    }
    & .hero__subtitle {
      color: #c4c4c4;
      font-size: 20px;
      font-weight: normal;
    }
    & .tag {
      font-size: 14px;
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 8px 25px;
      border-radius: 32px;
      &.white {
        @include outline($white);
      }
      &.vue {
        @include outline($vue);
      }
      &.hibernate {
        @include outline($hibernate);
      }
      &.js {
        @include outline($js);
      }
      &.css {
        @include outline($css);
      }
      &.sass {
        @include outline($sass);
      }
      &.java {
        @include outline($java);
      }
      &.sql {
        @include outline($sql);
      }
      &.android {
        @include outline($android);
      }
    }
    & .hero__btn {
      font-size: 18px;
      padding: 16px 32px;
      box-sizing: border-box;
      text-transform: uppercase;
      background:none;
      border-radius: 1px;
      font-weight: 500;
      display: inline-block;
      @include outline($white);
    }
    & > .hero__img {
      z-index: -2;
      width: 100%;
      height: 100%;
      position: absolute;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
    & > .hero__shadow {
      z-index: -1;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }